<div class="game-container">
  @if (currentMovie ) {
  <div class="question-card">
    <div
      class="question-image"
      [style.background-image]="'url(' + currentMovie.poster_path + ')'"
    >
      <div class="movie-title">
        <h2>{{ currentMovie.title }}</h2>
      </div>

      <div class="input-section">
        <div class="input-group">
          <label for="guessInput">Adivina la puntuación: </label>
          <input
            id="guessInput"
            type="number"
            [(ngModel)]="userGuess"
            placeholder="0"
            class="guess-input"
            #guessInput
            min="0"
            max="10"
            step="0.5"
          />
        </div>
      </div>

      <button class="submit-button" (click)="submitGuess()">Submit</button>
    </div>
  </div>
  }
</div>
