<div class="app-container">
  <header class="header">
    <h1 class="title">¿Cuánto es?</h1>
    <span class="subtitle">¿Eres capaz de acertas las busquedas?</span>
  </header>

  <nav class="nav-tabs">
    <button
      class="transparent-button"
      [class.active]="currentTab === tabs.HOME"
      (click)="currentTab = tabs.HOME"
    >
      🏠 Inicio
    </button>
    <button
      class="transparent-button"
      [class.active]="currentTab === tabs.RANKING"
      (click)="currentTab = tabs.RANKING"
    >
      🏆 Ranking
    </button>
    <button
      class="transparent-button"
      [class.active]="currentTab === tabs.STATS"
      (click)="currentTab = tabs.STATS"
    >
      📊 Stats
    </button>
  </nav>

  <main class="main-content">
    <div class="content-wrapper">
      @if (currentTab === tabs.HOME) {
      <app-menu (gameMode)="menuResponse($event)"></app-menu>
      } @else if (currentTab === tabs.RANK) {
      <app-game></app-game>
      } @else if (currentTab === tabs.SORT) {
      <app-sort (gameMode)="menuResponse($event)"></app-sort>
      }
      <!-- @if (currentTab === 'ranking') {
      <app-ranking></app-ranking>
      } @if (currentTab === 'stats') {
      <app-stats></app-stats>
      } -->
    </div>
  </main>
</div>
